# Regression Sberbank Russian Housing Market

## Dataset Source
Data originates from the Kaggle dataset titled "Sberbank Russian Housing Market" available at https://www.kaggle.com/competitions/sberbank-russian-housing-market/data.

In [1]:
with open ("data_dictionary.txt", 'r') as f:
    print(f.read())

# train.csv and test.csv

price_doc: sale price (this is the target variable)
id: transaction id
timestamp: date of transaction
full_sq: total area in square meters, including loggias, balconies and other non-residential areas
life_sq: living area in square meters, excluding loggias, balconies and other non-residential areas
floor: for apartments, floor of the building
max_floor: number of floors in the building
material: wall material
build_year: year built
num_room: number of living rooms
kitch_sq: kitchen area
state: apartment condition
product_type: owner-occupier purchase or investment
sub_area: name of the district

The dataset also includes a collection of features about each property's surrounding neighbourhood, and some features that are constant across each sub area (known as a Raion). Most of the feature names are self explanatory, with the following notes. See below for a complete list.

full_all: subarea population
male_f, female_f: subarea population by gender
young_*: population younger than working age
work_*: working-age population
ekder_*: retirement-age population
n_m_{all|male|female}: population between n and m years old
build_count_*: buildings in the subarea by construction type or year
x_count_500: the number of x within 500m of the property
x_part_500: the share of x within 500m of the property
_sqm_: square meters
cafe_count_d_price_p: number of cafes within d meters of the property that have an average bill under p RUB
trc_: shopping malls
prom_: industrial zones
green_: green zones
metro_: subway
_avto_: distances by car
mkad_: Moscow Circle Auto Road
ttk_: Third Transport Ring
sadovoe_: Garden Ring
bulvar_ring_: Boulevard Ring
kremlin_: City center
zd_vokzaly_: Train station
oil_chemistry_: Dirty industry
ts_: Power plant


# macro.csv

A set of macroeconomic indicators, one for each date.

timestamp: Transaction timestamp
oil_urals: Crude Oil Urals ($/bbl)
gdp_quart: GDP
gdp_quart_growth: Real GDP growth
cpi: Inflation - Consumer Price Index Growth
ppi: Inflation - Producer Price index Growth
gdp_deflator: Inflation - GDP deflator
balance_trade: Trade surplus
balance_trade_growth: Trade balance (as a percentage of previous year)
usdrub: Ruble/USD exchange rate
eurrub: Ruble/EUR exchange rate
brent: London Brent ($/bbl)
net_capital_export: Net import / export of capital
gdp_annual: GDP at current prices
gdp_annual_growth: GDP growth (in real terms)
average_provision_of_build_contract: Provision by orders in Russia (for the developer)
average_provision_of_build_contract_moscow: Provision by orders in Moscow (for the developer)
rts: Index RTS / return
micex: MICEX index / return
micex_rgbi_tr: MICEX index for government bonds (MICEX RGBI TR) / yield
micex_cbi_tr: MICEX Index corporate bonds (MICEX CBI TR) / yield
deposits_value: Volume of household deposits
deposits_growth: Volume growth of population's deposits
deposits_rate: Average interest rate on deposits
mortgage_value: Volume of mortgage loans
mortgage_growth: Growth of mortgage lending
mortgage_rate: Weighted average rate of mortgage loans
grp: GRP of the subject of Russian Federation where Apartment is located
grp_growth: Growth of gross regional product of the subject of the Russian Federation where Apartment is located
income_per_cap: Average income per capita
real_dispos_income_per_cap_growth: Growth in real disposable income of Population
salary: Average monthly salary
salary_growth: Growth of nominal wages
fixed_basket: Cost of a fixed basket of consumer goods and services for inter-regional comparisons of purchasing power
retail_trade_turnover: Retail trade turnover
retail_trade_turnover_per_cap: Retail trade turnover per capita
retail_trade_turnover_growth: Retail turnover (in comparable prices in% to corresponding period of previous year)
labor_force: Size of labor force
unemployment: Unemployment rate
employment: Employment rate
invest_fixed_capital_per_cap: Investments in fixed capital per capita
invest_fixed_assets: Absolute volume of investments in fixed assets
profitable_enterpr_share: Share of profitable enterprises
unprofitable_enterpr_share: The share of unprofitable enterprises
share_own_revenues: The share of own revenues in the total consolidated budget revenues
overdue_wages_per_cap: Overdue wages per person
fin_res_per_cap: The financial results of companies per capita
marriages_per_1000_cap: Number of marriages per 1,000 people
divorce_rate: The divorce rate / growth rate
construction_value: Volume of construction work performed (million rubles)
invest_fixed_assets_phys: The index of physical volume of investment in fixed assets (in comparable prices in% to the corresponding month of Previous year)
pop_natural_increase: Rate of natural increase / decrease in Population (1,000 persons)
pop_migration: Migration increase (decrease) of population
pop_total_inc: Total population growth
childbirth: Childbirth
mortality: Mortality
housing_fund_sqm: Housing Fund (sqm)
lodging_sqm_per_cap: Lodging (sqm / pax)
water_pipes_share: Plumbing availability (pax)
baths_share: Bath availability (pax)
sewerage_share: Canalization availability
gas_share: Gas (mains, liquefied) availability
hot_water_share: Hot water availability
electric_stove_share: Electric heating for the floor
heating_share: Heating availability
old_house_share: Proportion of old and dilapidated housing, percent
average_life_exp: Average life expectancy
infant_mortarity_per_1000_cap: Infant mortality rate (per 1,000 children aged up to one year)
perinatal_mort_per_1000_cap: Perinatal mortality rate (per 1,000 live births)
incidence_population: Overall incidence of the total population
rent_price_4+room_bus: rent price for 4-room apartment, business class
rent_price_3room_bus: rent price for 3-room apartment, business class
rent_price_2room_bus: rent price for 2-room apartment, business class
rent_price_1room_bus: rent price for 1-room apartment, business class
rent_price_3room_eco: rent price for 3-room apartment, econom class
rent_price_2room_eco: rent price for 2-room apartment, econom class
rent_price_1room_eco: rent price for 1-room apartment, econom class
load_of_teachers_preschool_per_teacher: Load of teachers of preschool educational institutions (number of children per 100 teachers);
child_on_acc_pre_school: Number of children waiting for the determination to pre-school educational institutions, for capacity of 100
load_of_teachers_school_per_teacher: Load on teachers in high school (number of pupils in hugh school for 100 teachers)
students_state_oneshift: Proportion of pupils in high schools with one shift, of the total number of pupils in high schools
modern_education_share: Share of state (municipal) educational organizations, corresponding to modern requirements of education in the total number of high schools;
old_education_build_share: The share of state (municipal) educational organizations, buildings are in disrepair and in need of major repairs of the total number.
provision_doctors: Provision (relative number) of medical doctors in area
provision_nurse: Provision of nursing staff
load_on_doctors: The load on doctors (number of visits per physician)
power_clinics: Capacity of outpatient clinics
hospital_beds_available_per_cap: Availability of hospital beds per 100 000 persons
hospital_bed_occupancy_per_year: Average occupancy rate of the hospital beds during a year
provision_retail_space_sqm: Retail space
provision_retail_space_modern_sqm: Provision of population with retail space of modern formats, square meter
retail_trade_turnover_per_cap: Retail trade turnover per capita
turnover_catering_per_cap: Turnover of catering industry per person
theaters_viewers_per_1000_cap: Number of theaters viewers per 1000 population
seats_theather_rfmin_per_100000_cap: Total number of seats in Auditorium of the Ministry of Culture Russian theaters per 100,000 population
museum_visitis_per_100_cap: Number of visits to museums per 1000 of population
bandwidth_sports: Capacity of sports facilities
population_reg_sports_share: Proportion of population regularly doing  sports
students_reg_sports_share: Proportion of pupils and students regularly doing sports in the total number
apartment_build: City residential apartment construction
apartment_fund_sqm: City residential apartment fund


# Complete description of neighbourhood features

area_m	Area mun. area, sq.m.
raion_popul	Number of municipality population. district
green_zone_part	Proportion of area of вЂ‹вЂ‹greenery in the total area
indust_part	Share of industrial zones in area of вЂ‹вЂ‹the total area
children_preschool	Number of pre-school age population
preschool_quota	Number of seats in pre-school organizations
preschool_education_centers_raion	Number of pre-school  institutions
children_school	Population of school-age children
school_quota	Number of high school seats in area
school_education_centers_raion	Number of  high school institutions
school_education_centers_top_20_raion	Number of high schools of the top 20 best schools in Moscow
hospital_beds_raion	Number of hospital beds for the district
healthcare_centers_raion	Number of healthcare centers in district
university_top_20_raion	Number of higher education institutions in the top ten ranking of the Federal rank
sport_objects_raion	Number of higher education institutions
additional_education_raion	Number of additional education organizations
culture_objects_top_25	Presence of the key objects of cultural heritage (significant objects for the level of the RF constituent entities, city)
culture_objects_top_25_raion	Number of  objects of cultural heritage
shopping_centers_raion	Number of malls and shopping centres in district
office_raion	Number of malls and shopping centres in district
thermal_power_plant_raion	Presence of thermal power station in district
incineration_raion	Presence of incinerators
oil_chemistry_raion	Presence of dirty industries
radiation_raion	Presence of radioactive waste disposal
railroad_terminal_raion	Presence of the railroad terminal in district
big_market_raion	Presence of large grocery / wholesale markets
nuclear_reactor_raion	Presence of existing nuclear reactors
detention_facility_raion	Presence of detention centers, prisons
full_all	Total number of  population in the municipality
male_f	Male population
female_f	Female population
young_all	Population younger than working age
young_male	Male population younger than working age
young_female	Feale population younger than working age
work_all	Working-age population
work_male	Male working-age population
work_female	Female working-age population
ekder_all	Population older than  working age
ekder_male	Male population older than  working age
ekder_female	Female population older than  working age
0_6_all	Population aged 0-6
0_6_male	Male population aged 0-7
0_6_female	Female population aged 0-8
7_14_all	Population aged  7-14
7_14_male	Male population aged 7-14
7_14_female	Female population aged 7-14
0_17_all	Population aged 0-17
0_17_male	Male population aged 0-17
0_17_female	Female population aged 0-17
16_29_all	Population aged 16-19
16_29_male	Male population aged 16-19
16_29_female	Female population aged 16-19
0_13_all	Population aged 0-13
0_13_male	Male population aged 0-13
0_13_female	Female population aged 0-13
raion_build_count_with_material_info	Number of building with material info in district
build_count_block	Share of block buildings
build_count_wood	Share of wood buildings
build_count_frame	Share of frame buildings
build_count_brick	Share of brick buildings
build_count_monolith	Share of monolith buildings
build_count_panel	Share of panel buildings
build_count_foam	Share of foam buildings
build_count_slag	Share of slag buildings
build_count_mix	Share of mixed buildings
raion_build_count_with_builddate_info	Number of building with build year info in district
build_count_before_1920	Share of before_1920 buildings
build_count_1921-1945	Share of 1921-1945 buildings
build_count_1946-1970	Share of 1946-1970 buildings
build_count_1971-1995	Share of 1971-1995 buildings
build_count_after_1995	Share of after_1995 buildings
7_14_male	Male population aged 7-14
7_14_female	Female population aged 7-14
0_17_all	Population aged 0-17
0_17_male	Male population aged 0-17
0_17_female	Female population aged 0-17
16_29_all	Population aged 16-19
16_29_male	Male population aged 16-19
16_29_female	Female population aged 16-19
0_13_all	Population aged 0-13
0_13_male	Male population aged 0-13
0_13_female	Female population aged 0-13
metro_min_avto	Time to subway by car, min.
metro_km_avto	Distance to subway by car, km
metro_min_walk	Time to metro by foot
metro_km_walk	Distance to the metro, km
kindergarten_km	Distance to kindergarten
school_km	Distance to high school
park_km	Distance to park
green_zone_km	Distance to green zone
industrial_zone_km	Distance to industrial zone
water_treatment_km	Distance to water treatment
cemetery_km	Distance to the cemetery
incineration_km	Distance to the incineration
railroad_station_walk_km	Distance to the railroad station (walk)
railroad_station_walk_min	Time to the railroad station (walk)
ID_railroad_station_walk	Nearest railroad station id (walk)
railroad_station_avto_km	Distance to the railroad station (avto)
railroad_station_avto_min	Time to the railroad station (avto)
ID_railroad_station_avto	Nearest railroad station id (avto)
public_transport_station_km	Distance to the public transport station (walk)
public_transport_station_min_walk	Time to the public transport station (walk)
water_km	Distance to the water reservoir / river
water_1line	First line to the river (150 m)
mkad_km	Distance to MKAD (Moscow Circle Auto Road)
ttk_km	Distance to the TTC (Third Transport Ring)
sadovoe_km	Distance to the Garden Ring
bulvar_ring_km	The distance to the Boulevard Ring
kremlin_km	Distance to the city center (Kremlin)
big_road1_km	Distance to Nearest major road
ID_big_road1	Nearest big road id
big_road1_1line	First line to the road (100 m for highwys, 250 m to MKAD)
big_road2_km	The distance to next distant major road
ID_big_road2	2nd nearest big road id
railroad_km	Distance to the railway / Moscow Central Ring / open areas Underground
railroad_1line	First line to the railway (100 m)
zd_vokzaly_avto_km	Distance to train station
ID_railroad_terminal	Nearest railroad terminal id
bus_terminal_avto_km	Distance to bus terminal (avto)
ID_bus_terminal	Nearest bus terminal id
oil_chemistry_km	Distance to dirty industries
nuclear_reactor_km	Distance to nuclear reactor
radiation_km	Distance to burial of radioactive waste
power_transmission_line_km	Distance to power transmission line
thermal_power_plant_km	Distance to thermal power plant
ts_km	Distance to power station
big_market_km	Distance to grocery / wholesale markets
market_shop_km	Distance to markets and department stores
fitness_km	Distance to fitness
swim_pool_km	Distance to swimming pool
ice_rink_km	Distance to ice palace
stadium_km	Distance to stadium
basketball_km	Distance to the basketball courts
hospice_morgue_km	Distance to hospice/morgue
detention_facility_km	Distance to detention facility
public_healthcare_km	Distance to public healthcare
university_km	Distance to universities
workplaces_km	Distance to workplaces
shopping_centers_km	Distance to shopping centers
office_km	Distance to business centers/ offices
additional_education_km	Distance to additional education
preschool_km	Distance to preschool education organizations
big_church_km	Distance to large church
church_synagogue_km	Distance to Christian chirches and Synagogues
mosque_km	Distance to mosques
theater_km	Distance to theater
museum_km	Distance to museums
exhibition_km	Distance to exhibition
catering_km	Distance to catering
ecology	Ecological zone where the house is located
green_part_500	The share of green zones in 500 meters zone
prom_part_500	The share of industrial zones in 500 meters zone
office_count_500	The number of office space in 500 meters zone
office_sqm_500	The square of office space in 500 meters zone
trc_count_500	The number of shopping malls in 500 meters zone
trc_sqm_500	The square of shopping malls in 500 meters zone
cafe_count_500	The number of cafes or restaurants in 500 meters zone
cafe_sum_500_min_price_avg	Cafes and restaurant min average bill in 500 meters zone
cafe_sum_500_max_price_avg	Cafes and restaurant max average bill in 500 meters zone
cafe_avg_price_500	Cafes and restaurant average bill in 500 meters zone
cafe_count_500_na_price	Cafes and restaurant bill N/A in 500 meters zone
cafe_count_500_price_500	Cafes and restaurant bill, average under 500 in 500 meters zone
cafe_count_500_price_1000	Cafes and restaurant bill, average  500-1000 in 500 meters zone
cafe_count_500_price_1500	Cafes and restaurant bill, average  1000-1500 in 500 meters zone
cafe_count_500_price_2500	Cafes and restaurant bill, average  1500-2500 in 500 meters zone
cafe_count_500_price_4000	Cafes and restaurant bill, average  2500-4000 in 500 meters zone
cafe_count_500_price_high	Cafes and restaurant bill, average  over 4000 in 500 meters zone
big_church_count_500	The number of big churchs in 500 meters zone
church_count_500	The number of churchs in 500 meters zone
mosque_count_500	The number of mosques in 500 meters zone
leisure_count_500	The number of leisure facilities in 500 meters zone
sport_count_500	The number of sport facilities in 500 meters zone
market_count_500	The number of markets in 500 meters zone
green_part_1000	The share of green zones in 1000 meters zone
prom_part_1000	The share of industrial zones in 1000 meters zone
office_count_1000	The number of office space in 1000 meters zone
office_sqm_1000	The square of office space in 1000 meters zone
trc_count_1000	The number of shopping malls in 1000 meters zone
trc_sqm_1000	The square of shopping malls in 1000 meters zone
cafe_count_1000	The number of cafes or restaurants in 1000 meters zone
cafe_sum_1000_min_price_avg	Cafes and restaurant min average bill in 1000 meters zone
cafe_sum_1000_max_price_avg	Cafes and restaurant max average bill in 1000 meters zone
cafe_avg_price_1000	Cafes and restaurant average bill in 1000 meters zone
cafe_count_1000_na_price	Cafes and restaurant bill N/A in 1000 meters zone
cafe_count_1000_price_500	Cafes and restaurant bill, average under 500 in 1000 meters zone
cafe_count_1000_price_1000	Cafes and restaurant bill, average  500-1000 in 1000 meters zone
cafe_count_1000_price_1500	Cafes and restaurant bill, average  1000-1500 in 1000 meters zone
cafe_count_1000_price_2500	Cafes and restaurant bill, average  1500-2500 in 1000 meters zone
cafe_count_1000_price_4000	Cafes and restaurant bill, average  2500-4000 in 1000 meters zone
cafe_count_1000_price_high	Cafes and restaurant bill, average  over 4000 in 1000 meters zone
big_church_count_1000	The number of big churchs in 1000 meters zone
church_count_1000	The number of churchs in 1000 meters zone
mosque_count_1000	The number of mosques in 1000 meters zone
leisure_count_1000	The number of leisure facilities in 1000 meters zone
sport_count_1000	The number of sport facilities in 1000 meters zone
market_count_1000	The number of markets in 1000 meters zone
green_part_1500	The share of green zones in 1500 meters zone
prom_part_1500	The share of industrial zones in 1500 meters zone
office_count_1500	The number of office space in 1500 meters zone
office_sqm_1500	The square of office space in 1500 meters zone
trc_count_1500	The number of shopping malls in 1500 meters zone
trc_sqm_1500	The square of shopping malls in 1500 meters zone
cafe_count_1500	The number of cafes or restaurants in 1500 meters zone
cafe_sum_1500_min_price_avg	Cafes and restaurant min average bill in 1500 meters zone
cafe_sum_1500_max_price_avg	Cafes and restaurant max average bill in 1500 meters zone
cafe_avg_price_1500	Cafes and restaurant average bill in 1500 meters zone
cafe_count_1500_na_price	Cafes and restaurant bill N/A in 1500 meters zone
cafe_count_1500_price_500	Cafes and restaurant bill, average under 500 in 1500 meters zone

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
df = pd.read_csv("train.csv")

In [4]:
df.head()

,id,timestamp,full_sq,life_sq,floor,max_floor,material,build_year,num_room,kitch_sq,...,cafe_count_5000_price_2500,cafe_count_5000_price_4000,cafe_count_5000_price_high,big_church_count_5000,church_count_5000,mosque_count_5000,leisure_count_5000,sport_count_5000,market_count_5000,price_doc
0,1,2011-08-20,43,27.0,4.0,NaN,NaN,NaN,NaN,NaN,...,9,4,0,13,22,1,0,52,4,5850000
1,2,2011-08-23,34,19.0,3.0,NaN,NaN,NaN,NaN,NaN,...,15,3,0,15,29,1,10,66,14,6000000
2,3,2011-08-27,43,29.0,2.0,NaN,NaN,NaN,NaN,NaN,...,10,3,0,11,27,0,4,67,10,5700000
3,4,2011-09-01,89,50.0,9.0,NaN,NaN,NaN,NaN,NaN,...,11,2,1,4,4,0,0,26,3,13100000
4,5,2011-09-05,77,77.0,4.0,NaN,NaN,NaN,NaN,NaN,...,319,108,17,135,236,2,91,195,14,16331452

In [5]:
df.shape

(30471, 292)

In [6]:
df.info(verbose = True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30471 entries, 0 to 30470
Data columns (total 292 columns):
 #    Column                                 Dtype
---   ------                                 -----
 0    id                                     int64
 1    timestamp                              object
 2    full_sq                                int64
 3    life_sq                                float64
 4    floor                                  float64
 5    max_floor                              float64
 6    material                               float64
 7    build_year                             float64
 8    num_room                               float64
 9    kitch_sq                               float64
 10   state                                  float64
 11   product_type                           object
 12   sub_area                               object
 13   area_m                                 float64
 14   raion_popul                            int64
 15   green_zone_part                        float64
 16   indust_part                            float64
 17   children_preschool                     int64
 18   preschool_quota                        float64
 19   preschool_education_centers_raion      int64
 20   children_school                        int64
 21   school_quota                           float64
 22   school_education_centers_raion         int64
 23   school_education_centers_top_20_raion  int64
 24   hospital_beds_raion                    float64
 25   healthcare_centers_raion               int64
 26   university_top_20_raion                int64
 27   sport_objects_raion                    int64
 28   additional_education_raion             int64
 29   culture_objects_top_25                 object
 30   culture_objects_top_25_raion           int64
 31   shopping_centers_raion                 int64
 32   office_raion                           int64
 33   thermal_power_plant_raion              object
 34   incineration_raion                     object
 35   oil_chemistry_raion                    object
 36   radiation_raion                        object
 37   railroad_terminal_raion                object
 38   big_market_raion                       object
 39   nuclear_reactor_raion                  object
 40   detention_facility_raion               object
 41   full_all                               int64
 42   male_f                                 int64
 43   female_f                               int64
 44   young_all                              int64
 45   young_male                             int64
 46   young_female                           int64
 47   work_all                               int64
 48   work_male                              int64
 49   work_female                            int64
 50   ekder_all                              int64
 51   ekder_male                             int64
 52   ekder_female                           int64
 53   0_6_all                                int64
 54   0_6_male                               int64
 55   0_6_female                             int64
 56   7_14_all                               int64
 57   7_14_male                              int64
 58   7_14_female                            int64
 59   0_17_all                               int64
 60   0_17_male                              int64
 61   0_17_female                            int64
 62   16_29_all                              int64
 63   16_29_male                             int64
 64   16_29_female                           int64
 65   0_13_all                               int64
 66   0_13_male                              int64
 67   0_13_female                            int64
 68   raion_build_count_with_material_info   float64
 69   build_count_block                      float64
 70   build_count_wood                       float64
 71   build_count_frame                      float64
 72   build_count_brick                      float64
 73   build_count_monolith                   float64
 74   build_count_panel                      float64
 75   build_count_foam                       float64
 76   build_count_slag                       float64
 77   build_count_mix                        float64
 78   raion_build_count_with_builddate_info  float64
 79   build_count_before_1920                float64
 80   build_count_1921-1945                  float64
 81   build_count_1946-1970                  float64
 82   build_count_1971-1995                  float64
 83   build_count_after_1995                 float64
 84   ID_metro                               int64
 85   metro_min_avto                         float64
 86   metro_km_avto                          float64
 87   metro_min_walk                         float64
 88   metro_km_walk                          float64
 89   kindergarten_km                        float64
 90   school_km                              float64
 91   park_km                                float64
 92   green_zone_km                          float64
 93   industrial_km                          float64
 94   water_treatment_km                     float64
 95   cemetery_km                            float64
 96   incineration_km                        float64
 97   railroad_station_walk_km               float64
 98   railroad_station_walk_min              float64
 99   ID_railroad_station_walk               float64
 100  railroad_station_avto_km               float64
 101  railroad_station_avto_min              float64
 102  ID_railroad_station_avto               int64
 103  public_transport_station_km            float64
 104  public_transport_station_min_walk      float64
 105  water_km                               float64
 106  water_1line                            object
 107  mkad_km                                float64
 108  ttk_km                                 float64
 109  sadovoe_km                             float64
 110  bulvar_ring_km                         float64
 111  kremlin_km                             float64
 112  big_road1_km                           float64
 113  ID_big_road1                           int64
 114  big_road1_1line                        object
 115  big_road2_km                           float64
 116  ID_big_road2                           int64
 117  railroad_km                            float64
 118  railroad_1line                         object
 119  zd_vokzaly_avto_km                     float64
 120  ID_railroad_terminal                   int64
 121  bus_terminal_avto_km                   float64
 122  ID_bus_terminal                        int64
 123  oil_chemistry_km                       float64
 124  nuclear_reactor_km                     float64
 125  radiation_km                           float64
 126  power_transmission_line_km             float64
 127  thermal_power_plant_km                 float64
 128  ts_km                                  float64
 129  big_market_km                          float64
 130  market_shop_km                         float64
 131  fitness_km                             float64
 132  swim_pool_km                           float64
 133  ice_rink_km                            float64
 134  stadium_km                             float64
 135  basketball_km                          float64
 136  hospice_morgue_km                      float64
 137  detention_facility_km                  float64
 138  public_healthcare_km                   float64
 139  university_km                          float64
 140  workplaces_km                          float64
 141  shopping_centers_km                    float64
 142  office_km                              float64
 143  additional_education_km                float64
 144  preschool_km                           float64
 145  big_church_km                          float64
 146  church_synagogue_km                    float64
 147  mosque_km                              float64
 148  theater_km                             float64
 149  museum_km                              float64
 150  exhibition_km                          float64
 151  catering_km                            float64
 152  ecology                                object
 153  green_part_500                         float64
 154  prom_part_500                          float64
 155  office_count_500                       int64
 156  office_sqm_500                         int64
 157  trc_count_500                          int64
 158  trc_sqm_500                            int64
 159  cafe_count_500                         int64
 160  cafe_sum_500_min_price_avg             float64
 161  cafe_sum_500_max_price_avg             float64
 162  cafe_avg_price_500                     float64
 163  cafe_count_500_na_price                int64
 164  cafe_count_500_price_500               int64
 165  cafe_count_500_price_1000              int64
 166  cafe_count_500_price_1500              int64
 167  cafe_count_500_price_2500              int64
 168  cafe_count_500_price_4000              int64
 169  cafe_count_500_price_high              int64
 170  big_church_count_500                   int64
 171  church_count_500                       int64
 172  mosque_count_500                       int64
 173  leisure_count_500                      int64
 174  sport_count_500                        int64
 175  market_count_500                       int64
 176  green_part_1000                        float64
 177  prom_part_1000                         float64
 178  office_count_1000                      int64
 179  office_sqm_1000                        int64
 180  trc_count_1000                         int64
 181  trc_sqm_1000                           int64
 182  cafe_count_1000                        int64
 183  cafe_sum_1000_min_price_avg            float64
 184  cafe_sum_1000_max_price_avg            float64
 185  cafe_avg_price_1000                    float64
 186  cafe_count_1000_na_price               int64
 187  cafe_count_1000_price_500              int64
 188  cafe_count_1000_price_1000             int64
 189  cafe_count_1000_price_1500             int64
 190  cafe_count_1000_price_2500             int64
 191  cafe_count_1000_price_4000             int64
 192  cafe_count_1000_price_high             int64
 193  big_church_count_1000                  int64
 194  church_count_1000                      int64
 195  mosque_count_1000                      int64
 196  leisure_count_1000                     int64
 197  sport_count_1000                       int64
 198  market_count_1000                      int64
 199  green_part_1500                        float64
 200  prom_part_1500                         float64
 201  office_count_1500                      int64
 202  office_sqm_1500                        int64
 203  trc_count_1500                         int64
 204  trc_sqm_1500                           int64
 205  cafe_count_1500                        int64
 206  cafe_sum_1500_min_price_avg            float64
 207  cafe_sum_1500_max_price_avg            float64
 208  cafe_avg_price_1500                    float64
 209  cafe_count_1500_na_price               int64
 210  cafe_count_1500_price_500              int64
 211  cafe_count_1500_price_1000             int64
 212  cafe_count_1500_price_1500             int64
 213  cafe_count_1500_price_2500             int64
 214  cafe_count_1500_price_4000             int64
 215  cafe_count_1500_price_high             int64
 216  big_church_count_1500                  int64
 217  church_count_1500                      int64
 218  mosque_count_1500                      int64
 219  leisure_count_1500                     int64
 220  sport_count_1500                       int64
 221  market_count_1500                      int64
 222  green_part_2000                        float64
 223  prom_part_2000                         float64
 224  office_count_2000                      int64
 225  office_sqm_2000                        int64
 226  trc_count_2000                         int64
 227  trc_sqm_2000                           int64
 228  cafe_count_2000                        int64
 229  cafe_sum_2000_min_price_avg            float64
 230  cafe_sum_2000_max_price_avg            float64
 231  cafe_avg_price_2000                    float64
 232  cafe_count_2000_na_price               int64
 233  cafe_count_2000_price_500              int64
 234  cafe_count_2000_price_1000             int64
 235  cafe_count_2000_price_1500             int64
 236  cafe_count_2000_price_2500             int64
 237  cafe_count_2000_price_4000             int64
 238  cafe_count_2000_price_high             int64
 239  big_church_count_2000                  int64
 240  church_count_2000                      int64
 241  mosque_count_2000                      int64
 242  leisure_count_2000                     int64
 243  sport_count_2000                       int64
 244  market_count_2000                      int64
 245  green_part_3000                        float64
 246  prom_part_3000                         float64
 247  office_count_3000                      int64
 248  office_sqm_3000                        int64
 249  trc_count_3000                         int64
 250  trc_sqm_3000                           int64
 251  cafe_count_3000                        int64
 252  cafe_sum_3000_min_price_avg            float64
 253  cafe_sum_3000_max_price_avg            float64
 254  cafe_avg_price_3000                    float64
 255  cafe_count_3000_na_price               int64
 256  cafe_count_3000_price_500              int64
 257  cafe_count_3000_price_1000             int64
 258  cafe_count_3000_price_1500             int64
 259  cafe_count_3000_price_2500             int64
 260  cafe_count_3000_price_4000             int64
 261  cafe_count_3000_price_high             int64
 262  big_church_count_3000                  int64
 263  church_count_3000                      int64
 264  mosque_count_3000                      int64
 265  leisure_count_3000                     int64
 266  sport_count_3000                       int64
 267  market_count_3000                      int64
 268  green_part_5000                        float64
 269  prom_part_5000                         float64
 270  office_count_5000                      int64
 271  office_sqm_5000                        int64
 272  trc_count_5000                         int64
 273  trc_sqm_5000                           int64
 274  cafe_count_5000                        int64
 275  cafe_sum_5000_min_price_avg            float64
 276  cafe_sum_5000_max_price_avg            float64
 277  cafe_avg_price_5000                    float64
 278  cafe_count_5000_na_price               int64
 279  cafe_count_5000_price_500              int64
 280  cafe_count_5000_price_1000             int64
 281  cafe_count_5000_price_1500             int64
 282  cafe_count_5000_price_2500             int64
 283  cafe_count_5000_price_4000             int64
 284  cafe_count_5000_price_high             int64
 285  big_church_count_5000                  int64
 286  church_count_5000                      int64
 287  mosque_count_5000                      int64
 288  leisure_count_5000                     int64
 289  sport_count_5000                       int64
 290  market_count_5000                      int64
 291  price_doc                              int64
dtypes: float64(119), int64(157), object(16)
memory usage: 67.9+ MB

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30471 entries, 0 to 30470
Columns: 292 entries, id to price_doc
dtypes: float64(119), int64(157), object(16)
memory usage: 67.9+ MB

## Exploratory Data Analysis

### Statistical Data Analysis
#### Descriptive Analysis

In [8]:
def missing_val_dt(df):
    data = {
    "Pandas Dtype": [],
    "Missing Values": [],
    "%Missing Values": []
    }
    index = []
    for column, dtype in df.dtypes.items():
        if df[column].isnull().sum() != 0:
            data["Pandas Dtype"].append(dtype)
            data["Missing Values"].append(df[column].isnull().sum())
            data["%Missing Values"].append(df[column].isnull().sum() / df.shape[0] * 100)
            index.append(column)
    desc_df = pd.DataFrame(data, index = index)
    return desc_df.sort_values(by = "Missing Values", ascending = False)

missing_val_dt(df)

,Pandas Dtype,Missing Values,%Missing Values
hospital_beds_raion,float64,14441,47.392603
build_year,float64,13605,44.649011
state,float64,13559,44.498047
cafe_sum_500_max_price_avg,float64,13281,43.585704
cafe_sum_500_min_price_avg,float64,13281,43.585704
cafe_avg_price_500,float64,13281,43.585704
max_floor,float64,9572,31.413475
material,float64,9572,31.413475
num_room,float64,9572,31.413475
kitch_sq,float64,9572,31.413475
preschool_quota,float64,6688,21.948738
school_quota,float64,6685,21.938893
cafe_avg_price_1000,float64,6524,21.410521
cafe_sum_1000_max_price_avg,float64,6524,21.410521
cafe_sum_1000_min_price_avg,float64,6524,21.410521
life_sq,float64,6383,20.947786
raion_build_count_with_builddate_info,float64,4991,16.379508
build_count_after_1995,float64,4991,16.379508
build_count_1946-1970,float64,4991,16.379508
build_count_1921-1945,float64,4991,16.379508
build_count_before_1920,float64,4991,16.379508
build_count_1971-1995,float64,4991,16.379508
build_count_mix,float64,4991,16.379508
build_count_monolith,float64,4991,16.379508
raion_build_count_with_material_info,float64,4991,16.379508
build_count_slag,float64,4991,16.379508
build_count_wood,float64,4991,16.379508
build_count_frame,float64,4991,16.379508
build_count_brick,float64,4991,16.379508
build_count_block,float64,4991,16.379508
build_count_panel,float64,4991,16.379508
build_count_foam,float64,4991,16.379508
cafe_avg_price_1500,float64,4199,13.780316
cafe_sum_1500_min_price_avg,float64,4199,13.780316
cafe_sum_1500_max_price_avg,float64,4199,13.780316
cafe_avg_price_2000,float64,1725,5.661120
cafe_sum_2000_min_price_avg,float64,1725,5.661120
cafe_sum_2000_max_price_avg,float64,1725,5.661120
cafe_avg_price_3000,float64,991,3.252273
cafe_sum_3000_max_price_avg,float64,991,3.252273
cafe_sum_3000_min_price_avg,float64,991,3.252273
cafe_sum_5000_max_price_avg,float64,297,0.974697
cafe_sum_5000_min_price_avg,float64,297,0.974697
cafe_avg_price_5000,float64,297,0.974697
prom_part_5000,float64,178,0.584162
floor,float64,167,0.548062
ID_railroad_station_walk,float64,25,0.082045
metro_min_walk,float64,25,0.082045
metro_km_walk,float64,25,0.082045
railroad_station_walk_km,float64,25,0.082045
railroad_station_walk_min,float64,25,0.082045

In [9]:
df.describe()

,id,full_sq,life_sq,floor,max_floor,material,build_year,num_room,kitch_sq,state,...,cafe_count_5000_price_2500,cafe_count_5000_price_4000,cafe_count_5000_price_high,big_church_count_5000,church_count_5000,mosque_count_5000,leisure_count_5000,sport_count_5000,market_count_5000,price_doc
count,30471.000000,30471.000000,24088.000000,30304.000000,20899.000000,20899.000000,1.686600e+04,20899.000000,20899.000000,16912.000000,...,30471.000000,30471.000000,30471.000000,30471.000000,30471.000000,30471.000000,30471.000000,30471.000000,30471.000000,3.047100e+04
mean,15237.917397,54.214269,34.403271,7.670803,12.558974,1.827121,3.068057e+03,1.909804,6.399301,2.107025,...,32.058318,10.783860,1.771783,15.045552,30.251518,0.442421,8.648814,52.796593,5.987070,7.123035e+06
std,8796.501536,38.031487,52.285733,5.319989,6.756550,1.481154,1.543878e+05,0.851805,28.265979,0.880148,...,73.465611,28.385679,5.418807,29.118668,47.347938,0.609269,20.580741,46.292660,4.889219,4.780111e+06
min,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000e+00,0.000000,0.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000e+05
25%,7620.500000,38.000000,20.000000,3.000000,9.000000,1.000000,1.967000e+03,1.000000,1.000000,1.000000,...,2.000000,1.000000,0.000000,2.000000,9.000000,0.000000,0.000000,11.000000,1.000000,4.740002e+06
50%,15238.000000,49.000000,30.000000,6.500000,12.000000,1.000000,1.979000e+03,2.000000,6.000000,2.000000,...,8.000000,2.000000,0.000000,7.000000,16.000000,0.000000,2.000000,48.000000,5.000000,6.274411e+06
75%,22855.500000,63.000000,43.000000,11.000000,17.000000,2.000000,2.005000e+03,2.000000,9.000000,3.000000,...,21.000000,5.000000,1.000000,12.000000,28.000000,1.000000,7.000000,76.000000,10.000000,8.300000e+06
max,30473.000000,5326.000000,7478.000000,77.000000,117.000000,6.000000,2.005201e+07,19.000000,2014.000000,33.000000,...,377.000000,147.000000,30.000000,151.000000,250.000000,2.000000,106.000000,218.000000,21.000000,1.111111e+08

In [10]:
def imbalance_level(value_counts):
    dominant_value_count = max(value_counts)
    total_counts = sum(value_counts)
    
    if dominant_value_count / total_counts > 0.9:
        return 'Severely Imbalanced'
    elif dominant_value_count / total_counts > 0.7:
        return 'Highly Imbalanced'
    elif dominant_value_count / total_counts > 0.3:
        return 'Moderately Imbalanced'
    else:
        return 'Balanced'

def few_valued(df):
    numeric_columns = [col for col in df.columns if df[col].dtype != 'object']
    data = {
        'column': [],
        'number_of_unique_values': [],
        '%unique_values': [],
        'correlation_with_target': [],
        'imbalance_level': []
    }
    correlation_matrix = df[numeric_columns].corr().abs()

    for col in numeric_columns:
        unique_values = df[col].unique()
        value_counts = df[col].value_counts()
        nunique = len(unique_values)
        percentage = float(nunique) / df.shape[0] * 100
        correlation = correlation_matrix.loc[col, 'price_doc']
        imbalance = imbalance_level(value_counts)

        data['column'].append(col)
        data['number_of_unique_values'].append(nunique)
        data['%unique_values'].append(percentage)
        data['correlation_with_target'].append(correlation)
        data['imbalance_level'].append(imbalance)

    result_df = pd.DataFrame(data = data).set_index('column').sort_values(by = ['%unique_values', 'correlation_with_target'], ascending = [True, True])
    return result_df

In [11]:
few_val_df = few_valued(df)
few_val_df = few_val_df.drop('price_doc', axis=0)
few_val_df

,number_of_unique_values,%unique_values,correlation_with_target,imbalance_level
column,,,,
mosque_count_500,2,0.006564,0.018474,Severely Imbalanced
mosque_count_1000,2,0.006564,0.089308,Severely Imbalanced
mosque_count_2000,2,0.006564,0.100228,Severely Imbalanced
mosque_count_1500,2,0.006564,0.111034,Severely Imbalanced
mosque_count_3000,3,0.009845,0.096199,Highly Imbalanced
...,...,...,...,...
ttk_km,11852,38.895999,0.272620,Balanced
bulvar_ring_km,11852,38.895999,0.279158,Balanced
kremlin_km,11852,38.895999,0.279249,Balanced
sadovoe_km,11852,38.895999,0.283622,Balanced
id,30471,100.000000,0.121203,Balanced

In [12]:
object_col = [column for column in df.columns if df[column].dtype == 'object']
df[object_col].nunique()

timestamp                    1161
product_type                    2
sub_area                      146
culture_objects_top_25          2
thermal_power_plant_raion       2
incineration_raion              2
oil_chemistry_raion             2
radiation_raion                 2
railroad_terminal_raion         2
big_market_raion                2
nuclear_reactor_raion           2
detention_facility_raion        2
water_1line                     2
big_road1_1line                 2
railroad_1line                  2
ecology                         5
dtype: int64

In [13]:
del object_col[0]

In [14]:
for col in object_col:
    print(df[col].value_counts())

product_type
Investment       19448
OwnerOccupier    11023
Name: count, dtype: int64
sub_area
Poselenie Sosenskoe               1776
Nekrasovka                        1611
Poselenie Vnukovskoe              1372
Poselenie Moskovskij               925
Poselenie Voskresenskoe            713
                                  ...
Molzhaninovskoe                      3
Poselenie Shhapovskoe                2
Poselenie Kievskij                   2
Poselenie Klenovskoe                 1
Poselenie Mihajlovo-Jarcevskoe       1
Name: count, Length: 146, dtype: int64
culture_objects_top_25
no     28543
yes     1928
Name: count, dtype: int64
thermal_power_plant_raion
no     28817
yes     1654
Name: count, dtype: int64
incineration_raion
no     28155
yes     2316
Name: count, dtype: int64
oil_chemistry_raion
no     30175
yes      296
Name: count, dtype: int64
radiation_raion
no     19600
yes    10871
Name: count, dtype: int64
railroad_terminal_raion
no     29335
yes     1136
Name: count, dtype: int64
big_market_raion
no     27649
yes     2822
Name: count, dtype: int64
nuclear_reactor_raion
no     29608
yes      863
Name: count, dtype: int64
detention_facility_raion
no     27427
yes     3044
Name: count, dtype: int64
water_1line
no     28134
yes     2337
Name: count, dtype: int64
big_road1_1line
no     29690
yes      781
Name: count, dtype: int64
railroad_1line
no     29578
yes      893
Name: count, dtype: int64
ecology
poor            8018
no data         7656
good            7174
excellent       3938
satisfactory    3685
Name: count, dtype: int64

#### Correlation analysis

##### Correlation between numerical features

In [15]:
import itertools

def get_top_abs_correlations_df(df, target):
    data = {
        'column_1': [],
        'column_2': [],
        'correlation': []
    }
    numeric_columns = [column for column in df.columns if df[column].dtype != 'object' and col != target]
    corr_matrix = df[numeric_columns].corr().abs()
    column_pairs = list(itertools.combinations(numeric_columns, 2))
    
    for col1, col2 in column_pairs:
        data['column_1'].append(col1)
        data['column_2'].append(col2)
        data['correlation'].append(corr_matrix.loc[col1, col2])

    df_correlations = pd.DataFrame(data)
    return df_correlations.sort_values(by = 'correlation', ascending = False).reset_index(drop = True)

multicollin = get_top_abs_correlations_df(df, 'price_doc')
multicollin.head(500)

,column_1,column_2,correlation
0,public_transport_station_km,public_transport_station_min_walk,1.000000
1,metro_min_walk,metro_km_walk,1.000000
2,children_preschool,0_6_all,1.000000
3,children_school,7_14_all,1.000000
4,railroad_station_walk_km,railroad_station_walk_min,1.000000
...,...,...,...
495,cafe_count_1500_price_500,cafe_count_3000_price_1500,0.972713
496,cafe_count_2000_price_500,leisure_count_2000,0.972696
497,cafe_count_5000_price_2500,cafe_count_5000_price_high,0.972604
498,big_church_count_2000,big_church_count_3000,0.972478
499,cafe_count_2000_na_price,cafe_count_3000_price_2500,0.972447

##### Correlation between numerical features and target

In [16]:
numeric_columns = [col for col in df.columns if df[col].dtype != 'object']
corr_nft = df[numeric_columns].corr().abs().loc[:, 'price_doc']

In [17]:
corr_nft.sort_values()

trc_sqm_500                    0.000374
build_year                     0.002161
cafe_sum_3000_max_price_avg    0.002200
cafe_avg_price_3000            0.003339
cafe_sum_3000_min_price_avg    0.005119
                                 ...
sport_count_3000               0.290651
sport_count_5000               0.294864
full_sq                        0.341840
num_room                       0.476337
price_doc                      1.000000
Name: price_doc, Length: 276, dtype: float64

##### Correlation between categorical features

In [18]:
from scipy.stats import chi2_contingency

def get_top_chi_squared_tests_df(df):
    data = {
        'column_1': [],
        'column_2': [],
        'chi_squared': [],
        'p_value': []
    }
    object_columns = [column for column in df.columns if df[column].dtype == 'object' and column != 'timestamp']
    column_pairs = list(itertools.combinations(object_columns, 2))
    
    for col1, col2 in column_pairs:
        contingency_table = pd.crosstab(df[col1], df[col2])
        chi2, p_value, _, _ = chi2_contingency(contingency_table)
        data['column_1'].append(col1)
        data['column_2'].append(col2)
        data['chi_squared'].append(chi2)
        data['p_value'].append(p_value)

    df_chi_squared_tests = pd.DataFrame(data)
    return df_chi_squared_tests.sort_values(by='p_value', ascending=True).reset_index(drop=True)


chi_squared_tests = get_top_chi_squared_tests_df(df)
chi_squared_tests

,column_1,column_2,chi_squared,p_value
0,product_type,sub_area,20556.069224,0.000000
1,culture_objects_top_25,detention_facility_raion,1447.864722,0.000000
2,culture_objects_top_25,ecology,6457.562959,0.000000
3,sub_area,ecology,102073.604482,0.000000
4,sub_area,railroad_1line,8593.594347,0.000000
...,...,...,...,...
100,thermal_power_plant_raion,incineration_raion,0.949871,0.329752
101,big_market_raion,detention_facility_raion,0.924142,0.336390
102,thermal_power_plant_raion,railroad_terminal_raion,0.474870,0.490755
103,culture_objects_top_25,big_road1_1line,0.369720,0.543157
104,nuclear_reactor_raion,water_1line,0.121726,0.727170

In [19]:
chi_squared_tests[chi_squared_tests['p_value'] == 0]

,column_1,column_2,chi_squared,p_value
0,product_type,sub_area,20556.069224,0.0
1,culture_objects_top_25,detention_facility_raion,1447.864722,0.0
2,culture_objects_top_25,ecology,6457.562959,0.0
3,sub_area,ecology,102073.604482,0.0
4,sub_area,railroad_1line,8593.594347,0.0
5,sub_area,big_road1_1line,4652.294586,0.0
6,sub_area,water_1line,9707.672544,0.0
7,sub_area,detention_facility_raion,30471.000000,0.0
8,sub_area,nuclear_reactor_raion,30471.000000,0.0
9,sub_area,big_market_raion,30471.000000,0.0
10,sub_area,railroad_terminal_raion,30471.000000,0.0
11,sub_area,radiation_raion,30471.000000,0.0
12,sub_area,oil_chemistry_raion,30471.000000,0.0
13,sub_area,incineration_raion,30471.000000,0.0
14,culture_objects_top_25,railroad_terminal_raion,5658.374697,0.0
15,sub_area,thermal_power_plant_raion,30471.000000,0.0
16,product_type,ecology,10934.687806,0.0
17,thermal_power_plant_raion,oil_chemistry_raion,3528.786723,0.0
18,thermal_power_plant_raion,nuclear_reactor_raion,2648.520659,0.0
19,thermal_power_plant_raion,ecology,1570.787715,0.0
20,incineration_raion,ecology,6403.125467,0.0
21,radiation_raion,ecology,7293.765461,0.0
22,railroad_terminal_raion,detention_facility_raion,3234.855850,0.0
23,railroad_terminal_raion,ecology,3349.394356,0.0
24,product_type,radiation_raion,3745.598339,0.0
25,big_market_raion,ecology,3222.370655,0.0
26,detention_facility_raion,ecology,6561.301810,0.0
27,sub_area,culture_objects_top_25,30471.000000,0.0
28,culture_objects_top_25,radiation_raion,1617.078239,0.0

##### Correlation between categorical features and target

In [20]:
from scipy.stats import f_oneway

def calculate_anova(df, categorical_columns, target_variable):
    anova_results = []
    for col in categorical_columns:
        category_groups = [df[target_variable][df[col] == category] for category in df[col].unique()]
        f_statistic, p_value = f_oneway(*category_groups)
        anova_results.append({'Categorical_Variable': col, 'F-statistic': f_statistic, 'p-value': p_value})
    return pd.DataFrame(anova_results).sort_values(by = "p-value", ascending = False)

In [21]:
categorical_columns = [col for col in df.columns if df[col].dtype == "object" and col != "timestamp"]
anova_df = calculate_anova(df, categorical_columns, 'price_doc')
anova_df

         Categorical_Variable  F-statistic        p-value
5         oil_chemistry_raion    18.286085   1.906688e-05
13             railroad_1line    21.123049   4.324426e-06
9       nuclear_reactor_raion    23.933010   1.002551e-06
3   thermal_power_plant_raion    36.138663   1.858515e-09
10   detention_facility_raion    42.898606   5.856880e-11
11                water_1line    45.292765   1.726791e-11
7     railroad_terminal_raion   100.267735   1.447858e-23
12            big_road1_1line   114.377334   1.201272e-26
8            big_market_raion   187.263185   1.680809e-42
4          incineration_raion   192.678478   1.124088e-43
0                product_type   329.559762   2.919156e-73
6             radiation_raion   473.301707  3.808261e-104
2      culture_objects_top_25   796.922342  4.277324e-173
1                    sub_area    57.335577   0.000000e+00
14                    ecology   499.570683   0.000000e+00

#### Feature Selection

In [22]:
chi_squared_tests.head()

                 column_1                  column_2    chi_squared  p_value
0            product_type                  sub_area   20556.069224      0.0
1  culture_objects_top_25  detention_facility_raion    1447.864722      0.0
2  culture_objects_top_25                   ecology    6457.562959      0.0
3                sub_area                   ecology  102073.604482      0.0
4                sub_area            railroad_1line    8593.594347      0.0

In [23]:
chi_squared_tests[chi_squared_tests['p_value'] == 0]

,column_1,column_2,chi_squared,p_value
0,product_type,sub_area,20556.069224,0.0
1,culture_objects_top_25,detention_facility_raion,1447.864722,0.0
2,culture_objects_top_25,ecology,6457.562959,0.0
3,sub_area,ecology,102073.604482,0.0
4,sub_area,railroad_1line,8593.594347,0.0
5,sub_area,big_road1_1line,4652.294586,0.0
6,sub_area,water_1line,9707.672544,0.0
7,sub_area,detention_facility_raion,30471.000000,0.0
8,sub_area,nuclear_reactor_raion,30471.000000,0.0
9,sub_area,big_market_raion,30471.000000,0.0
10,sub_area,railroad_terminal_raion,30471.000000,0.0
11,sub_area,radiation_raion,30471.000000,0.0
12,sub_area,oil_chemistry_raion,30471.000000,0.0
13,sub_area,incineration_raion,30471.000000,0.0
14,culture_objects_top_25,railroad_terminal_raion,5658.374697,0.0
15,sub_area,thermal_power_plant_raion,30471.000000,0.0
16,product_type,ecology,10934.687806,0.0
17,thermal_power_plant_raion,oil_chemistry_raion,3528.786723,0.0
18,thermal_power_plant_raion,nuclear_reactor_raion,2648.520659,0.0
19,thermal_power_plant_raion,ecology,1570.787715,0.0
20,incineration_raion,ecology,6403.125467,0.0
21,radiation_raion,ecology,7293.765461,0.0
22,railroad_terminal_raion,detention_facility_raion,3234.855850,0.0
23,railroad_terminal_raion,ecology,3349.394356,0.0
24,product_type,radiation_raion,3745.598339,0.0
25,big_market_raion,ecology,3222.370655,0.0
26,detention_facility_raion,ecology,6561.301810,0.0
27,sub_area,culture_objects_top_25,30471.000000,0.0
28,culture_objects_top_25,radiation_raion,1617.078239,0.0

In [24]:
features_to_delete = set(chi_squared_tests[(chi_squared_tests['p_value'] == 0) & 
                                        (chi_squared_tests['column_1'] == 'sub_area')]['column_2'].tolist())

In [25]:
multcol99 = multicollin[multicollin['correlation'] > 0.9]
features_to_delete.update(multcol99['column_2'].unique())

In [26]:
few_val_df

,number_of_unique_values,%unique_values,correlation_with_target,imbalance_level
column,,,,
mosque_count_500,2,0.006564,0.018474,Severely Imbalanced
mosque_count_1000,2,0.006564,0.089308,Severely Imbalanced
mosque_count_2000,2,0.006564,0.100228,Severely Imbalanced
mosque_count_1500,2,0.006564,0.111034,Severely Imbalanced
mosque_count_3000,3,0.009845,0.096199,Highly Imbalanced
...,...,...,...,...
ttk_km,11852,38.895999,0.272620,Balanced
bulvar_ring_km,11852,38.895999,0.279158,Balanced
kremlin_km,11852,38.895999,0.279249,Balanced
sadovoe_km,11852,38.895999,0.283622,Balanced
id,30471,100.000000,0.121203,Balanced

In [27]:
features_to_delete.update(few_val_df[few_val_df['imbalance_level'] == 'Severely Imbalanced'].index.tolist())

In [28]:
miss_val = missing_val_dt(df)
miss_val.head()

                           Pandas Dtype  Missing Values  %Missing Values
hospital_beds_raion             float64           14441        47.392603
build_year                      float64           13605        44.649011
state                           float64           13559        44.498047
cafe_sum_500_max_price_avg      float64           13281        43.585704
cafe_sum_500_min_price_avg      float64           13281        43.585704

In [29]:
features_to_delete.update(miss_val[miss_val['%Missing Values'] >= 40].index)

In [30]:
features_to_delete.add('id')

## Data Preprocessing

In [31]:
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import FunctionTransformer
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.ensemble import IsolationForest
from sklearn.base import BaseEstimator, TransformerMixin

In [32]:
X = df.iloc[:, :-1]
y = df.iloc[:, -1]

In [33]:
class DateTransformer(BaseEstimator, TransformerMixin):
    def __init__(self):
        pass
    
    def fit(self, X=None, y=None):
        return self
    
    def transform(self, X, y=None):
        X['timestamp'] = pd.to_datetime(X['timestamp'])
        X['year'] = X['timestamp'].dt.year
        X['month'] = X['timestamp'].dt.month
        X['day'] = X['timestamp'].dt.day
        X = X.drop('timestamp', axis = 1)
        return X

In [34]:
numeric_columns = [col for col in df.columns if df[col].dtype != "object" and col != 'price_doc' and col not in features_to_delete]
categorical_columns = [col for col in df.columns if df[col].dtype == "object" and col != 'timestamp' and col not in features_to_delete]

In [35]:
df1 = df.drop(columns = list(features_to_delete))

In [36]:
df1 = DateTransformer().fit_transform(df1)
df1.head()

,full_sq,life_sq,floor,max_floor,material,num_room,kitch_sq,product_type,sub_area,area_m,...,green_part_5000,prom_part_5000,trc_sqm_5000,cafe_sum_5000_min_price_avg,mosque_count_5000,market_count_5000,price_doc,year,month,day
0,43,27.0,4.0,NaN,NaN,NaN,NaN,Investment,Bibirevo,6.407578e+06,...,13.09,13.31,4036616,708.57,1,4,5850000,2011,8,20
1,34,19.0,3.0,NaN,NaN,NaN,NaN,Investment,Nagatinskij Zaton,9.589337e+06,...,10.26,27.47,2034942,673.81,1,14,6000000,2011,8,23
2,43,29.0,2.0,NaN,NaN,NaN,NaN,Investment,Tekstil'shhiki,4.808270e+06,...,13.69,21.58,1572990,702.68,0,10,5700000,2011,8,27
3,89,50.0,9.0,NaN,NaN,NaN,NaN,Investment,Mitino,1.258354e+07,...,14.18,3.89,942180,931.58,0,3,13100000,2011,9,1
4,77,77.0,4.0,NaN,NaN,NaN,NaN,Investment,Basmannoe,8.398461e+06,...,8.38,10.92,3503058,853.88,2,14,16331452,2011,9,5

In [37]:
numeric_imputer = SimpleImputer(strategy='mean')
scaler = StandardScaler()
categ_imputer = SimpleImputer(strategy='most_frequent')

In [38]:
numeric_imputer.fit(df1[numeric_columns])
df1[numeric_columns] = numeric_imputer.transform(df1[numeric_columns])

In [39]:
categ_imputer.fit(df1[categorical_columns])
df1[categorical_columns] = categ_imputer.transform(df1[categorical_columns])

In [40]:
df1['product_type'] = df1['product_type'].map({'Investment': 1, 'OwnerOccupier': 0})

In [41]:
mean_target = df1.groupby('sub_area')['price_doc'].mean()
df1['sub_area'] = df1['sub_area'].map(mean_target)

## Algorithms Evaluation

In [42]:
from sklearn.model_selection import TimeSeriesSplit
from sklearn.linear_model import LinearRegression, Lasso, ElasticNet
from sklearn.neighbors import KNeighborsRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.svm import SVR
from sklearn.model_selection import cross_validate

In [43]:
train_set, test_set= np.split(df1, [int(.9 *len(df1))])

In [44]:
X_train = train_set.drop(columns='price_doc')
X_test = test_set.drop(columns='price_doc')
y_train = train_set['price_doc']
y_test = test_set['price_doc']

In [45]:
splitter = TimeSeriesSplit(n_splits=4)

In [46]:
import warnings
warnings.filterwarnings('ignore')

In [47]:
models = []
models.append(('LR', LinearRegression()))
models.append(('LASSO', Lasso()))
models.append(('EN', ElasticNet()))
models.append(('KNN', KNeighborsRegressor()))
models.append(('CART', DecisionTreeRegressor()))
models.append(('SVR', SVR()))

results = []
names = []
scoring = 'neg_mean_squared_error'

for name, model in models:
    cv_results = cross_validate(model, X_train, y_train, cv=splitter, scoring=scoring, return_train_score=True)
    train_rmse = np.sqrt(-np.mean(cv_results['train_score']))
    test_rmse = np.sqrt(-np.mean(cv_results['test_score']))
    results.append(cv_results)
    names.append(name)
    print(f"{name}:")
    print(f"Среднее MSE на тренировочных фолдах: {-np.mean(cv_results['train_score']).round(3)}")
    print(f"Среднее MSE на тестовых фолдах: {-np.mean(cv_results['test_score']).round(3)}")
    print(f"Среднее RMSE на тренировочных фолдах: {train_rmse.round(3)}")
    print(f"Среднее RMSE на тестовых фолдах: {test_rmse.round(3)}")
    print()

LR:
Среднее MSE на тренировочных фолдах: 12453790943251.41
Среднее MSE на тестовых фолдах: 23583398534477.137
Среднее RMSE на тренировочных фолдах: 3528992.908
Среднее RMSE на тестовых фолдах: 4856274.141

LASSO:
Среднее MSE на тренировочных фолдах: 12459344360865.09
Среднее MSE на тестовых фолдах: 23567104295733.242
Среднее RMSE на тренировочных фолдах: 3529779.648
Среднее RMSE на тестовых фолдах: 4854596.203

EN:
Среднее MSE на тренировочных фолдах: 12822988452290.92
Среднее MSE на тестовых фолдах: 25694078359736.625
Среднее RMSE на тренировочных фолдах: 3580920.057
Среднее RMSE на тестовых фолдах: 5068932.665

KNN:
Среднее MSE на тренировочных фолдах: 9718483956221.506
Среднее MSE на тестовых фолдах: 16447056625305.898
Среднее RMSE на тренировочных фолдах: 3117448.309
Среднее RMSE на тестовых фолдах: 4055497.087

CART:
Среднее MSE на тренировочных фолдах: 22429567.448
Среднее MSE на тестовых фолдах: 17742279018769.04
Среднее RMSE на тренировочных фолдах: 4735.986
Среднее RMSE на тестовых фолдах: 4212158.475

SVR:
Среднее MSE на тренировочных фолдах: 20227075532029.72
Среднее MSE на тестовых фолдах: 23683137286931.793
Среднее RMSE на тренировочных фолдах: 4497452.116
Среднее RMSE на тестовых фолдах: 4866532.368

In [48]:
pipelines = []
pipelines.append(('ScaledLR', Pipeline([('Scaler', StandardScaler()),('LR', LinearRegression())])))
pipelines.append(('ScaledLASSO', Pipeline([('Scaler', StandardScaler()),('LASSO', Lasso())])))
pipelines.append(('ScaledEN', Pipeline([('Scaler', StandardScaler()),('EN', ElasticNet())])))
pipelines.append(('ScaledKNN', Pipeline([('Scaler', StandardScaler()),('KNN', KNeighborsRegressor())])))
pipelines.append(('ScaledCART', Pipeline([('Scaler', StandardScaler()),('CART', DecisionTreeRegressor())])))
pipelines.append(('ScaledSVR', Pipeline([('Scaler', StandardScaler()),('SVR', SVR())])))
resultsp = []
namesp = []
for name, model in pipelines:
    cv_results = cross_validate(model, X_train, y_train, cv=splitter, scoring=scoring, return_train_score=True)
    train_rmse = np.sqrt(-np.mean(cv_results['train_score']))
    test_rmse = np.sqrt(-np.mean(cv_results['test_score']))
    resultsp.append(cv_results)
    namesp.append(name)
    print(f"{name}:")
    print(f"Среднее MSE на тренировочных фолдах: {-np.mean(cv_results['train_score']).round(3)}")
    print(f"Среднее MSE на тестовых фолдах: {-np.mean(cv_results['test_score']).round(3)}")
    print(f"Среднее RMSE на тренировочных фолдах: {train_rmse.round(3)}")
    print(f"Среднее RMSE на тестовых фолдах: {test_rmse.round(3)}")
    print()

ScaledLR:
Среднее MSE на тренировочных фолдах: 12469828933956.71
Среднее MSE на тестовых фолдах: 2.837423023949027e+39
Среднее RMSE на тренировочных фолдах: 3531264.495
Среднее RMSE на тестовых фолдах: 5.3267466843740815e+19

ScaledLASSO:
Среднее MSE на тренировочных фолдах: 12459345349900.285
Среднее MSE на тестовых фолдах: 23567072150609.996
Среднее RMSE на тренировочных фолдах: 3529779.788
Среднее RMSE на тестовых фолдах: 4854592.892

ScaledEN:
Среднее MSE на тренировочных фолдах: 13124123203024.914
Среднее MSE на тестовых фолдах: 18612120047055.676
Среднее RMSE на тренировочных фолдах: 3622723.175
Среднее RMSE на тестовых фолдах: 4314176.636

ScaledKNN:
Среднее MSE на тренировочных фолдах: 8709856328773.423
Среднее MSE на тестовых фолдах: 14259713778525.574
Среднее RMSE на тренировочных фолдах: 2951246.572
Среднее RMSE на тестовых фолдах: 3776203.62

ScaledCART:
Среднее MSE на тренировочных фолдах: 22429567.448
Среднее MSE на тестовых фолдах: 17577449599078.951
Среднее RMSE на тренировочных фолдах: 4735.986
Среднее RMSE на тестовых фолдах: 4192546.911

ScaledSVR:
Среднее MSE на тренировочных фолдах: 20226969127342.78
Среднее MSE на тестовых фолдах: 23682779700324.188
Среднее RMSE на тренировочных фолдах: 4497440.286
Среднее RMSE на тестовых фолдах: 4866495.628

## Algorithm Tuning

In [49]:
from sklearn.model_selection import GridSearchCV

In [50]:
scaler = StandardScaler().fit(X_train)
rescaledX = scaler.transform(X_train)

In [51]:
k_values = np.array([1,3,5,7,9,11,13,15,17,19,21])
weights_values = ['uniform', 'distance']
metric_values = ['euclidean', 'manhattan']

param_grid = {
    'n_neighbors': k_values,
    'weights': weights_values,
    'metric': metric_values
}

model = KNeighborsRegressor()

In [52]:
grid = GridSearchCV(estimator=model, param_grid=param_grid, scoring=scoring, cv=splitter)
grid_result = grid.fit(rescaledX, y_train)

In [53]:
print("Best: %f using %s" % (np.sqrt(-grid_result.best_score_), grid_result.best_params_))
means = np.sqrt(-grid_result.cv_results_['mean_test_score'])
stds = grid_result.cv_results_['std_test_score']
params = grid_result.cv_results_['params']

for mean, stdev, param in zip(means, stds, params):
    print("%f (%f) with: %r" % (mean, stdev, param))

Best: 3729306.031934 using {'metric': 'euclidean', 'n_neighbors': 7, 'weights': 'distance'}
4272728.085124 (2459249539148.897949) with: {'metric': 'euclidean', 'n_neighbors': 1, 'weights': 'uniform'}
4272728.085124 (2459249539148.897949) with: {'metric': 'euclidean', 'n_neighbors': 1, 'weights': 'distance'}
3814185.879729 (1312285561143.799316) with: {'metric': 'euclidean', 'n_neighbors': 3, 'weights': 'uniform'}
3784278.440560 (1324747103942.364746) with: {'metric': 'euclidean', 'n_neighbors': 3, 'weights': 'distance'}
3781845.986385 (1303215040793.145752) with: {'metric': 'euclidean', 'n_neighbors': 5, 'weights': 'uniform'}
3738996.410139 (1257034963312.378418) with: {'metric': 'euclidean', 'n_neighbors': 5, 'weights': 'distance'}
3776305.945636 (1333010156576.655518) with: {'metric': 'euclidean', 'n_neighbors': 7, 'weights': 'uniform'}
3729306.031934 (1245324039903.057373) with: {'metric': 'euclidean', 'n_neighbors': 7, 'weights': 'distance'}
3787821.352374 (1463347500408.914062) with: {'metric': 'euclidean', 'n_neighbors': 9, 'weights': 'uniform'}
3737044.961179 (1339478524962.839600) with: {'metric': 'euclidean', 'n_neighbors': 9, 'weights': 'distance'}
3810704.278183 (1549452873723.502686) with: {'metric': 'euclidean', 'n_neighbors': 11, 'weights': 'uniform'}
3756640.512139 (1404454864914.509766) with: {'metric': 'euclidean', 'n_neighbors': 11, 'weights': 'distance'}
3821439.572455 (1674724817498.061035) with: {'metric': 'euclidean', 'n_neighbors': 13, 'weights': 'uniform'}
3766935.725154 (1503595315509.699951) with: {'metric': 'euclidean', 'n_neighbors': 13, 'weights': 'distance'}
3835750.129594 (1737856805215.233398) with: {'metric': 'euclidean', 'n_neighbors': 15, 'weights': 'uniform'}
3780309.155865 (1563811393926.201904) with: {'metric': 'euclidean', 'n_neighbors': 15, 'weights': 'distance'}
3855762.593182 (1781544297630.030518) with: {'metric': 'euclidean', 'n_neighbors': 17, 'weights': 'uniform'}
3798654.642168 (1612721567068.308838) with: {'metric': 'euclidean', 'n_neighbors': 17, 'weights': 'distance'}
3869808.068977 (1816281986626.727295) with: {'metric': 'euclidean', 'n_neighbors': 19, 'weights': 'uniform'}
3812335.751121 (1655147041783.732910) with: {'metric': 'euclidean', 'n_neighbors': 19, 'weights': 'distance'}
3875419.824804 (1813025564154.213379) with: {'metric': 'euclidean', 'n_neighbors': 21, 'weights': 'uniform'}
3819259.450535 (1663147785901.021973) with: {'metric': 'euclidean', 'n_neighbors': 21, 'weights': 'distance'}
4401350.856405 (2100128625782.225342) with: {'metric': 'manhattan', 'n_neighbors': 1, 'weights': 'uniform'}
4401350.856405 (2100128625782.225342) with: {'metric': 'manhattan', 'n_neighbors': 1, 'weights': 'distance'}
3922561.912025 (1280843811904.198242) with: {'metric': 'manhattan', 'n_neighbors': 3, 'weights': 'uniform'}
3876115.209592 (1248162773313.335205) with: {'metric': 'manhattan', 'n_neighbors': 3, 'weights': 'distance'}
3875746.421221 (1608043139165.863525) with: {'metric': 'manhattan', 'n_neighbors': 5, 'weights': 'uniform'}
3800477.421293 (1407367250397.134033) with: {'metric': 'manhattan', 'n_neighbors': 5, 'weights': 'distance'}
3871971.783612 (1684519993404.233643) with: {'metric': 'manhattan', 'n_neighbors': 7, 'weights': 'uniform'}
3783134.924595 (1388801370124.134766) with: {'metric': 'manhattan', 'n_neighbors': 7, 'weights': 'distance'}
3883238.139310 (1760532595939.213867) with: {'metric': 'manhattan', 'n_neighbors': 9, 'weights': 'uniform'}
3783524.859810 (1400394985449.927979) with: {'metric': 'manhattan', 'n_neighbors': 9, 'weights': 'distance'}
3883783.401401 (1813649321895.456299) with: {'metric': 'manhattan', 'n_neighbors': 11, 'weights': 'uniform'}
3782329.227152 (1464404267059.846680) with: {'metric': 'manhattan', 'n_neighbors': 11, 'weights': 'distance'}
3893929.157269 (1822486707196.576904) with: {'metric': 'manhattan', 'n_neighbors': 13, 'weights': 'uniform'}
3789846.912708 (1499186442577.112305) with: {'metric': 'manhattan', 'n_neighbors': 13, 'weights': 'distance'}
3905382.060257 (1797792271265.341309) with: {'metric': 'manhattan', 'n_neighbors': 15, 'weights': 'uniform'}
3798692.781723 (1491294314213.705566) with: {'metric': 'manhattan', 'n_neighbors': 15, 'weights': 'distance'}
3918656.955480 (1847899326647.282227) with: {'metric': 'manhattan', 'n_neighbors': 17, 'weights': 'uniform'}
3809904.403401 (1543504303677.905518) with: {'metric': 'manhattan', 'n_neighbors': 17, 'weights': 'distance'}
3926876.685827 (1849582913497.554688) with: {'metric': 'manhattan', 'n_neighbors': 19, 'weights': 'uniform'}
3817095.153017 (1559878167460.054932) with: {'metric': 'manhattan', 'n_neighbors': 19, 'weights': 'distance'}
3936812.728891 (1889725346228.358643) with: {'metric': 'manhattan', 'n_neighbors': 21, 'weights': 'uniform'}
3825447.418292 (1596823800842.195557) with: {'metric': 'manhattan', 'n_neighbors': 21, 'weights': 'distance'}

## Ensemble Methods

In [54]:
from sklearn.ensemble import AdaBoostRegressor, GradientBoostingRegressor, RandomForestRegressor, ExtraTreesRegressor

In [55]:
ensembles = []
ensembles.append(('ScaledAB', Pipeline([('Scaler', StandardScaler()),('AB', AdaBoostRegressor())])))
ensembles.append(('ScaledGBM', Pipeline([('Scaler', StandardScaler()),('GBM', GradientBoostingRegressor())])))
ensembles.append(('ScaledRF', Pipeline([('Scaler', StandardScaler()),('RF', RandomForestRegressor())])))

e_results = []
e_names = []

for name, ensemble in ensembles:
    cv_results = cross_validate(ensemble, X_train, y_train, cv=splitter, scoring=scoring, return_train_score=True)
    train_rmse = np.sqrt(-np.mean(cv_results['train_score']))
    test_rmse = np.sqrt(-np.mean(cv_results['test_score']))
    e_results.append(cv_results)
    e_names.append(name)
    print(f"{name}:")
    print(f"Среднее MSE на тренировочных фолдах: {-np.mean(cv_results['train_score']).round(3)}")
    print(f"Среднее MSE на тестовых фолдах: {-np.mean(cv_results['test_score']).round(3)}")
    print(f"Среднее RMSE на тренировочных фолдах: {train_rmse.round(3)}")
    print(f"Среднее RMSE на тестовых фолдах: {test_rmse.round(3)}")
    print()

ScaledAB:
Среднее MSE на тренировочных фолдах: 17572072165888.328
Среднее MSE на тестовых фолдах: 17202608533639.742
Среднее RMSE на тренировочных фолдах: 4191905.553
Среднее RMSE на тестовых фолдах: 4147602.745

ScaledGBM:
Среднее MSE на тренировочных фолдах: 5579051881256.122
Среднее MSE на тестовых фолдах: 7891611992740.809
Среднее RMSE на тренировочных фолдах: 2362001.668
Среднее RMSE на тестовых фолдах: 2809201.309

ScaledRF:
Среднее MSE на тренировочных фолдах: 1268053374054.779
Среднее MSE на тестовых фолдах: 8192767458723.376
Среднее RMSE на тренировочных фолдах: 1126078.76
Среднее RMSE на тестовых фолдах: 2862301.078

In [56]:
seed = 7
scaler = StandardScaler().fit(X_train)
rescaledX = scaler.transform(X_train)
param_grid = dict(n_estimators=np.array([50,100,150,200,250,300,350,400]))
model = GradientBoostingRegressor(random_state=seed)
grid = GridSearchCV(estimator=model, param_grid=param_grid, scoring=scoring, cv=splitter)
grid_result = grid.fit(rescaledX, y_train)

In [57]:
print("Best: %f using %s" % (np.sqrt(-grid_result.best_score_), grid_result.best_params_))
means = np.sqrt(-grid_result.cv_results_['mean_test_score'])
stds = grid_result.cv_results_['std_test_score']
params = grid_result.cv_results_['params']

for mean, stdev, param in zip(means, stds, params):
    print("%f (%f) with: %r" % (mean, stdev, param))

Best: 2754951.011548 using {'n_estimators': 300}
2890160.187359 (618836398950.942749) with: {'n_estimators': 50}
2796703.598584 (501091193560.160095) with: {'n_estimators': 100}
2777979.185517 (485409322100.652344) with: {'n_estimators': 150}
2767079.579577 (505908619900.953491) with: {'n_estimators': 200}
2757968.157194 (538386588379.710510) with: {'n_estimators': 250}
2754951.011548 (577445110417.141479) with: {'n_estimators': 300}
2759902.824703 (606320300569.366211) with: {'n_estimators': 350}
2760922.089000 (647099774806.185425) with: {'n_estimators': 400}

## Submission

In [93]:
test = pd.read_csv('test.csv')
test.drop(columns = list(features_to_delete), inplace = True)
test[numeric_columns] = numeric_imputer.transform(test[numeric_columns])
test[categorical_columns] = categ_imputer.transform(test[categorical_columns])
test = DateTransformer().fit_transform(test)
test['product_type'] = test['product_type'].map({'Investment': 1, 'OwnerOccupier': 0})
test['sub_area'] = test['sub_area'].map(mean_target)
scaled_test = scaler.transform(test)

In [96]:
y_pred = grid.predict(scaled_test)
y_pred_no_neg = np.maximum(y_pred, 0)

In [97]:
test = pd.read_csv('test.csv')
sub = pd.DataFrame({'id' : test['id'], 'price_doc' : y_pred_no_neg})

In [99]:
sub.to_csv('sub.csv', index=False)